<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Jdmveira.aTareado' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>8854d45e-7b84-4294-881f-21d33f11794f</InstrumentationKey>
</ApplicationInsights>